extends layout

block content
  h1 Welcome
  
  hr
  
  .loginpossibilitycontainer.clearfix
    #local-login.loginpossibility
      a(href='/login') Local Login
    
    #local-signup.loginpossibility
      a(href='/register') Local Signup

    #twitter-login.loginpossibility
      a(href='/auth/twitter') Twitter

    #google-login.loginpossibility
      a(href='/auth/google') Google
