extends layout

block content
  h1.welcome Welcome

  div.centered Login or register with

  hr
  
  .loginpossibilitycontainer.clearfix
    #local-login.loginpossibility
      a(href='/login')
        span(class="icon icon-local-login")
        | Local Login
    
    #local-signup.loginpossibility
      a(href='/register')
        span(class="icon icon-local-signup")
          span(class="path1")
          span(class="path2")
          span(class="path3")
        | Local Signup

    #twitter-login.loginpossibility
      a(href='/auth/twitter')
        span(class="icon icon-twitter")
        |Twitter

    #google-login.loginpossibility
      a(href='/auth/google')
        span(class="icon icon-google")
        | Google
