extends layout

block content
  div(class="logincontainer centered")
    form#formLoginUser(name="dologin",method="post",action="/dologin")
      h1= title
      div(class="line")
        input#inputUserName(type="text", placeholder="email address", name="username")
      div(class="line")
        input#inputUserPassword(type="password", placeholder="password", name="password")
      div(class="line")
        button#btnSubmit(type="submit") login
