extends layout

block content
  div(class="logincontainer centered")
    form#formRegisterUser(name="register",method="post",action="/doregister")
      h1= title
      div(class="line")
        input#inputUserEmail(type="email", placeholder="email adress", name="email")
      div(class="line")
        input#inputUserPassword(type="password", placeholder="password", name="password")
      div(class="line")
        button#btnSubmit(type="submit") Register
