@import 'nib'

@import url("http//fonts.googleapis.com/css?family=Roboto");

@font-face
  font-family SocialFonts
  src url(../fonts/socialoauthfont.eot),
      url(../fonts/socialoauthfont.woff) format("woff"),
      url(../fonts/socialoauthfont.ttf) format("truetype"),
      url(../fonts/socialoauthfont.svg#socialoauthfont) format("svg");

.clearfix
  clearfix()

*
  box-sizing border-box

span.icon
  font-family SocialFonts
  display inline-block
  margin-right 20px

body
  font-family Roboto, sans-serif
  font-size 20px
  padding 0
  margin 0
  background #ecf0f1
  color #2d3e50
  
.icon-local-login:before
  content "\6c"
  color rgb(255, 255, 255)

.icon-local-signup .path1:before
  content "\70"
  color rgb(255, 255, 255)
.icon-local-signup .path2:before
  content "\71"
  color rgb(44, 62, 80)
  margin-left -1em
.icon-local-signup .path3:before
  content: "\72"
  color: rgb(243, 156, 18)
  margin-left: -1em

.icon-twitter:before
  content "\74"
  color rgb(255, 255, 255)

.icon-google:before
  content "\67"
  color rgb(255, 255, 255)
 
a
  text-decoration none

.centered
  text-align center

h1
  margin 0
  padding 50px 0
  padding-bottom 100px
  color black
  width 100%
  text-align center
  text-transform uppercase

hr
  width 11%
  margin 50px auto
  border #f39c11

.loginpossibilitycontainer

  .loginpossibility
    width 20%
    float left
    margin 0 2.5%
    text-align center
    background #2d3e50
    border-radius 5px
    height: 67px;
    line-height: 67px;

    a
      display inline-block
      color #FFF
      width 100%

    &#local-login, &#local-signup

      &:hover
        background #f39c11

        a
          color #2d3e50

      a
        color #f39c11
    
    &#twitter-login
      background #55acef

      &:hover
        border 1pt solid #55acef
        background #FFF

        a
          color #55acef

        .icon-twitter:before
          color #55acef

    &#google-login
      background #de4b39

      &:hover
        border 1pt solid #de4b39
        background #FFF

        a
          color #de4b39

        .icon-google:before
          color #de4b39

form
  margin 50px auto 30px auto
  width 420px
  padding 0 20px 20px 20px
  border-radius 5px
  background #FFF

  h1
    padding 40px 0

  input
    margin-top 20px
    width 80%
    height 67px
    background #ecf0f1
    padding-left 50px
    font-size 20px
    background-repeat no-repeat
    background-size 30px 30px
    background-position 10px 17px

    &[name=username], &[name=email]
      background-image url(../svg/user.svg)

    &[name=password]
      background-image url(../svg/lock.svg)

  button[type=submit]
    margin-top 20px
    cursor pointer

input
  font-family Roboto
  border-radius 5px
  height 25px
  border none
 
-webkit-input-placeholder
  padding-left 10px
 
button[type=submit]
  font-family Roboto
  border-radius 5px
  background #2d3e50
  color #f39c11
  border none
  height 67px
  font-size 20px
  width 80%

  &:hover
    background #f39c11
    color #2d3e50

.account-info

  .container
    box-sizing border-box
    margin-left 2.5%
    width 30%
    float left
    border-radius 10px
    padding 20px
    min-height: 280px;
    
    .connect
      width 100%
      float left
      text-align center
      background #2d3e50
      border-radius 5px
      height 67px
      line-height 67px

      &:hover
        background #f39c11

      a
        color #FFF
        width 100%
        display inline-block

        &:hover
          color #2d3e50

          a
            color #2d3e50

      &.twitter-connect
        background #55acef

        &:hover
          border 1pt solid #55acef
          background #FFF

          a
            color #55acef

            .icon-twitter:before
              color #55acef

      &.google-connect
        background #de4b39

        &:hover
          border 1pt solid #de4b39
          background #FFF

          a
            color #de4b39

            .icon-google:before
              color #de4b39
        
    .unlink
      width 100%
      text-align center
      background #2d3e50
      border-radius 5px
      color #FFF
      margin-bottom 70px
      height 67px
      line-height 67px

      a
        display inline-block
        width 100%
        color #f39c11

      &:hover
        background #f39c11

        a, p
          color #2d3e50

      p
        margin 0

      &.unlink-twitter
        background #55acef

        a
          color #FFF

        &:hover
          border 1pt solid #55acef
          background #FFF

          a, p
            color #55acef

            .icon-twitter:before
              color #55acef

      &unlink-google
        background #de4b39

        a
          color #FFF

        &:hover
          border 1pt solid #de4b39
          background #FFF

          a, p
            color #de4b39

            .icon-google:before
              color #de4b39

    p
      text-align center
      word-wrap break-word
      
      &.heading
        margin-top 30px
        color #f39c11
        font-weight bold
