@import 'nib'

@import url("http//fonts.googleapis.com/css?family=Roboto");

.clearfix
  clearfix()

*
  box-sizing border-box

body
  font-family Roboto
  font-size 20px
  padding 0
  margin 0
  background #ecf0f1
 
a
  text-decoration none

.centered
  text-align center

h1
  margin 0
  padding 50px 0
  padding-bottom 100px
  color black
  width 100%
  text-align center
  text-transform uppercase

hr
  width 11%
  margin 50px auto
  border #f39c11

.loginpossibilitycontainer

  .loginpossibility
    width 20%
    float left
    margin 0 2.5%
    text-align center
    background grey
    padding 22px 0
    border-radius 5px

    &#local-login, &#local-signup
      background #2d3e50

      a
        color #f39c11
    
    &#twitter-login
      background #55acef
      
    &#google-login
      background #de4b39

form
  margin 50px auto 30px auto
  width 380px
  padding 0 20px 20px 20px
  border-radius 5px
  background #FFF

  h1
    padding 40px 0

  input
    margin-top 20px
    width 80%
    height 67px
    background #ecf0f1

  button[type=submit]
    margin-top 20px

input
  font-family Roboto
  border-radius 5px
  height 25px
  border none
 
-webkit-input-placeholder
  padding-left 10px
 
button[type=submit]
  font-family Roboto;
  border-radius 5px
  background #2d3e50
  color #f39c11
  border none
  height 67px
  font-size 20px

  &:hover
    background #D35400

.account-info
  .container
    margin 30px 5% 0
    width 40%
    float left
    background #848484
    border-radius 10px
    padding 20px
    min-height: 280px;
    
    p
      word-wrap break-word
